@charset "UTF-8";
html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #292828; }
  body p {
    text-align: justify; }

nav {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: sticky;
  top: 0;
  z-index: 10; }
  nav a {
    font-size: 2rem;
    color: #000;
    text-decoration: none; }
  nav a:hover {
    text-decoration: underline; }
  nav img {
    height: 30px;
    margin-top: 10px; }

a:target {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden; }

h1, h2, h3, h4, a, .number-circle {
  font-family: 'Amatic SC', cursive; }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 3rem;
  margin: 20px; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.4rem; }

#hero {
  height: 80vh;
  position: relative;
  text-align: center; }
  #hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #hero h1 {
    color: #FFF;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4); }

.content, .testimonial-content {
  width: 90vw; }

.content {
  background-color: #FFF;
  margin: auto;
  margin-bottom: 30px;
  text-align: center; }
  .content h2 {
    text-align: center; }
  .content a {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #000; }

#block-1 #three-photos {
  display: flex;
  justify-content: space-around; }
  #block-1 #three-photos .image-div {
    display: inline-block; }
    #block-1 #three-photos .image-div img {
      width: 300px;
      border-radius: 50%; }

.testimonial {
  background-color: #D0DDE3;
  padding: 20px; }
  .testimonial .testimonial-content {
    height: 100%;
    display: flex; }
    .testimonial .testimonial-content img {
      height: 85%;
      max-height: 150px;
      border-radius: 50%;
      margin: auto; }
    .testimonial .testimonial-content .quote p {
      text-align: center !important; }
    .testimonial .testimonial-content blockquote {
      text-align: center !important;
      margin: auto 20px;
      font-family: 'Caveat', cursive;
      font-size: 1.5rem;
      quotes: "“" "”" "‘" "’";
      display: flex;
      justify-content: space-between; }
    .testimonial .testimonial-content blockquote:before {
      font-size: 4rem;
      content: open-quote;
      margin-right: 20px; }
    .testimonial .testimonial-content blockquote:after {
      font-size: 4rem;
      content: close-quote; }
  .testimonial a {
    color: #FFF;
    font-family: "Roboto", sans-serif; }

#testimonial-2 img {
  order: 2; }

#testimonial-2 .quote {
  order: 1; }

#block-2 .step {
  margin: 40px 0; }
  #block-2 .step .number-div {
    flex-basis: 210px; }
    #block-2 .step .number-div .number-circle {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      padding: 20px;
      background: #fff;
      color: #666;
      text-align: center;
      font-size: 3rem;
      font-weight: bold; }
    #block-2 .step .number-div #number-1 {
      background-color: #ead1dc; }
    #block-2 .step .number-div #number-2 {
      background-color: #ffe599;
      margin: auto;
      margin-left: 40px !important; }
    #block-2 .step .number-div #number-3 {
      background-color: #9fc5e8; }
    #block-2 .step .number-div #number-1, #block-2 .step .number-div #number-3 {
      margin: auto;
      margin-right: 40px !important; }
  #block-2 .step .step-number-left, #block-2 .step .step-number-right {
    display: flex; }
    #block-2 .step .step-number-left h4, #block-2 .step .step-number-right h4 {
      margin: 0px; }
  #block-2 .step .step-number-left h4 {
    text-align: left; }
  #block-2 .step .step-number-right h4 {
    text-align: right; }

#block-3 #about-wrapper {
  display: flex; }
  #block-3 #about-wrapper #about-images .about-image {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 225px; }
    #block-3 #about-wrapper #about-images .about-image img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      border-radius: 9px;
      z-index: -1; }
    #block-3 #about-wrapper #about-images .about-image h4 {
      margin-top: -42px;
      margin-bottom: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 0px 0px 9px 9px;
      background-color: #C3C6CC;
      opacity: 0.8;
      color: #FFF; }
  #block-3 #about-wrapper #about-content p:first-child {
    margin-top: 0px; }
  #block-3 #about-wrapper #about-content p#signature {
    font-family: 'Caveat', cursive;
    font-size: 1.3rem; }

#contact {
  display: block;
  position: relative; }
  #contact p#contact-message {
    margin: 10px;
    text-align: center; }
  #contact #contact-form {
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    transition: opacity .5s;
    margin: 20px auto; }
    #contact #contact-form .form-element {
      display: flex;
      justify-content: center;
      margin: 20px; }
      #contact #contact-form .form-element label {
        text-align: right;
        margin-right: 15px;
        width: 100px;
        padding-top: 5px; }
      #contact #contact-form .form-element input {
        height: 20px;
        font-size: 1.1rem; }
      #contact #contact-form .form-element input.submit-button {
        height: 30px;
        font-size: 1rem; }
      #contact #contact-form .form-element input, #contact #contact-form .form-element textarea {
        padding: 5px;
        width: 471px;
        margin: 0px 0px 10px 0px;
        border: 2px solid #ccc;
        border-radius: 2px;
        transition: 0.25s linear;
        /* vendorless fallback */
        -o-transition: 0.25s linear;
        /* opera */
        -ms-transition: 0.25s linear;
        /* IE 10 */
        -moz-transition: 0.25s linear;
        /* Firefox */
        -webkit-transition: 0.25s linear;
        /*safari and chrome */ }
      #contact #contact-form .form-element textarea {
        height: 90px;
        font-size: 1rem; }
      #contact #contact-form .form-element textarea:focus, #contact #contact-form .form-element input:focus {
        border: 2px solid #ead1dc; }
      #contact #contact-form .form-element input.submit-button {
        width: 100px;
        margin: auto;
        background-color: #FFF; }
      #contact #contact-form .form-element input.submit-button:hover {
        background: #ead1dc;
        color: #FFF;
        box-shadow: inset 0 0 0 3px #ead1dc;
        border-color: #ead1dc; }
  #contact #overlay {
    display: flex;
    background-color: #ead1dc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -10px;
    align-items: center;
    justify-content: center;
    transition: 1s ease-out;
    opacity: 0;
    z-index: -1;
    color: #FFF;
    font-size: 1.4rem;
    border-radius: 2px; }
  #contact .show {
    opacity: .9 !important;
    z-index: 10 !important; }

footer {
  width: 100%;
  background-color: #C3C6CC; }
  footer p {
    text-align: center; }
  footer #main-footer-content {
    padding-top: 10px;
    font-size: 0.8rem; }
    footer #main-footer-content img {
      height: 20px;
      display: block;
      margin: auto; }
  footer #website-attribution {
    background-color: #FFF; }
    footer #website-attribution p {
      font-size: 0.7rem;
      margin: 0px;
      padding: 2px; }
    footer #website-attribution a {
      font-family: "Roboto", sans-serif;
      color: #000; }

@media (max-width: 1440px) {
  #hero {
    height: 70vh; } }

@media (max-width: 1024px) {
  #block-1 #three-photos .image-div img {
    height: 250px;
    width: 250px; } }

@media (max-width: 900px) {
  #block-1 #three-photos .image-div img {
    height: 200px;
    width: 200px; }
  #block-1 #three-photos .image-div h3 {
    margin: 10px;
    font-size: 1.8rem; } }

@media (max-width: 768px) {
  #hero {
    height: 60vh; }
    #hero h1 {
      font-size: 6rem; }
  nav a {
    font-size: 1.8rem; }
  h2 {
    font-size: 2rem; }
  p {
    font-size: 0.9rem; }
  #block-1 #three-photos .image-div h3 {
    font-size: 1.4rem; }
  #block-1 #three-photos .image-div img {
    height: 175px;
    width: 175px; }
  .testimonial .quote blockquote {
    font-size: 1.2rem !important; } }

@media (max-width: 600px) {
  h2 {
    font-size: 2rem; }
  #hero h1 {
    font-size: 6rem; }
  nav a {
    font-size: 1.6rem; }
  #block-1 #three-photos .image-div img {
    height: 150px;
    width: 150px; }
  #block-1 #three-photos .image-div h3 {
    font-size: 1.5rem; } }

@media (max-width: 570px) {
  nav a {
    font-size: 1.5rem; }
  #hero {
    height: 60vh; }
    #hero h1 {
      font-size: 5rem; }
  .testimonial .testimonial-content {
    margin: 0 -10px; }
  .testimonial img {
    display: none; } }

@media (max-width: 530px) {
  #block-1 #three-photos .image-div img {
    height: 125px;
    width: 125px; }
  #block-2 .step .number-div {
    display: none; }
  #block-2 #step-1 #step-content h4:before {
    content: "1. "; }
  #block-2 #step-2 #step-content h4 {
    text-align: left !important; }
  #block-2 #step-2 #step-content h4:before {
    content: "2. "; }
  #block-2 #step-3 #step-content h4:before {
    content: "3. "; }
  #block-3 #about-wrapper {
    flex-direction: column; }
    #block-3 #about-wrapper #about-images {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px; }
      #block-3 #about-wrapper #about-images .about-image {
        margin: 2px; }
        #block-3 #about-wrapper #about-images .about-image img {
          margin: auto;
          margin-bottom: 10px;
          height: 300px; }
        #block-3 #about-wrapper #about-images .about-image h4 {
          margin-top: -52px; } }

@media (max-width: 425px) {
  nav a {
    font-size: 1.2rem; }
  nav img {
    height: 20px;
    margin-top: 5px; }
  #hero {
    height: 50vh; }
    #hero h1 {
      font-size: 4rem; }
  #block-1 #three-photos .image-div img {
    height: 100px;
    width: 100px; }
  #block-1 #three-photos .image-div h3 {
    font-size: 1rem; }
  .testimonial .testimonial-content {
    margin: 0 -15px; } }
