<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Healthy Living With Steph</title>
		<meta name="description" content="Placeholder Content">
		<meta name="author" content="Hayley van Waas">
		<!-- style -->
		<link rel="stylesheet" href="css/base.css">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Roboto" rel="stylesheet">
	</head>

	<body>
		<nav id="top-bar">
			<a href="#">Putting Health At The Top</a>
			<a href="#">How It Works</a>
			<a href="#">About Me</a>
			<a href="#">Countact</a>
		</nav>

		<section id="hero">
			<img alt="" src="images/hero-placeholder.png">
			<h1>Healthy Living with Steph</h1>
		</section>

		<section id="block-1" class="content">
			<h2>Putting Health At The Top</h2>
			<div id="three-photos">
				<div class="image-div">
					<img src="images/placeholder-pic-1.jpg">
					<h3>Weight Loss</h3>
				</div>
				<div class="image-div">
					<img src="images/placeholder-pic-2.jpg">
					<h3>Sustainable Healthy Lifestyle</h3>
				</div>
				<div class="image-div">
					<img src="images/placeholder-pic-3.jpg">
					<h3>Improved Gut Health</h3>
				</div>
			</div>
			<p>
				Hi, I’m Steph from PH@TT (Putting Health At The Top), and I am here to support you through a 30 day program designed to improve your gut health and encourage weight loss.
			</p>
			<p>
				Here at PH@TT we believe that through a healthy diet, with a focus on caring for your gut, you can achieve your health goals of weight loss (up to 15% of your body weight in just one round) and/or a healthy gut whilst still maintaining an overall sense of well-being. Improved gut health and diet is key to healthy weight, mood, sleep, energy and more. So much so that our program does not even encourage strenuous exercise in order for you to reach your goals.
			</p>
			<p>
				I am passionate about health and can help you to achieve your health and fitness goals through ongoing mentorship in the form of support and education, and this is what sets us apart from other weight loss programs. As a mentor I am invested in your health and will work hard alongside you to improve it. If you have any inquires about this program, please feel free to get in contact with me. Whether you just have a couple of questions or feel ready to get started, I’d be happy to hear from you.
			</p>
		</section>

		<section id="testimonial-1" class="testimonial">
		</section>

		<section id="block-2" class="content">
		</section>

		<section id="testimonial-2" class="testimonial">
		</section>

		<section id="block-3" class="content">
		</section>

		<section id="testimonial-3" class="testimonial">
		</section>

		<section id="contact" class="content">
		</section>
		
		<footer>
		</footer>

		<script src="js/script.js"></script>
	</body>

</html>
