<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Healthy Living With Steph</title>
		<meta name="description" content="Placeholder Content">
		<meta name="author" content="Hayley van Waas">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- style -->
		<link rel="stylesheet" href="css/base.css">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Roboto" rel="stylesheet">
	</head>

	<body>
		<nav>
			<a href="#phatt">Putting Health At The Top</a>
			<a href="#how-it-works">How It Works</a>
			<a href="#about-me">About Me</a>
			<a href="#contact">Contact</a>
			<a target="_blank" href="https://www.facebook.com/healthylivingwithsteph/"><img alt="Facebook logo." src="images/facebook-logo.png"></a>
		</nav>

		<section id="hero">
			<img alt="Picture of lake and trees." src="images/hero-placeholder.png">
			<h1>Healthy Living with Steph</h1>
		</section>

		<a name="phatt"></a>
		<section id="block-1" class="content">
			<h2>Putting Health At The Top</h2>
			<p>
				Hi, I’m Steph, a senior consultant from PH@TT (Putting Health At The Top), and I am here to support you through PH@TT’s 30 day program designed to improve your gut health and encourage weight loss. 
			</p>
			<div id="three-photos">
				<div class="image-div">
					<img src="images/weight-loss.jpg">
					<h3>Weight Loss</h3>
				</div>
				<div class="image-div">
					<img src="images/sustainable-healthy-lifestyle.jpg">
					<h3>Sustainable Healthy Lifestyle</h3>
				</div>
				<div class="image-div">
					<img src="images/improved-gut-health.jpg">
					<h3>Improved Gut Health</h3>
				</div>
			</div>
			<p>
				I believe that through a healthy diet, with a focus on caring for your gut, YOU CAN achieve your goals of weight loss and improved health whilst maintaining or gaining an overall sense of well-being. 
			</p>
			<p>
				Improved gut health and diet is key to healthy weight, mood, sleep, energy and much more.
			</p>
			<p>
				Results obviously vary between individuals; however, you may lose up to 15% of your body weight in just one (30 day) round.
			</p>
			<p>
				At Healthy Living with Steph I can help you achieve real and sustainable change through goal setting, motivational support, and education. This focus on gut health and one on one support is what sets the PH@TT program apart from other weight loss programs. As a mentor, I am invested in your health and will work hard alongside you to improve it.
			</p>
			<p>
				If you have any inquiries about this program, please feel free to get in <a href="#contact">contact with me</a>. Whether you have a couple of questions or feel ready to get started, I’d be happy to hear from you. You can reach me by sending me a message <a href="#contact">here</a> or through my <a target="_blank" href="https://www.facebook.com/healthylivingwithsteph/">Facebook page</a>.
			</p>
		</section>

		<section id="testimonial-1" class="testimonial">
			<div class="testimonial-content">
				<img src="images/testimonial-1.jpg">
				<div class="quote">
					<blockquote>
						<br>
						I couldn’t believe how successful this program was for me! Steph was a fantastic mentor and completely tailored the program for what I needed. Three months later I’ve maintained my success and am happy and healthy thanks to Steph.
						<br>
					</blockquote>
					<p>- Hayley from <a href="https://www.hayleyshealthfoods.com">Hayley's Health Foods</a></p>
				</div>
			</div>
		</section>
		
		<a name="how-it-works"></a>
		<section id="block-2" class="content">
			<h2>How It Works</h2>
			<p>
				The PH@TT program has been specially designed to support and balance your body’s natural functions, supporting your digestive system to heal and work efficiently therefore encouraging it to lose weight as it needs to. 
			</p>
			<p>
				We achieve this through resting and repairing the gut with meal plans designed by our nutritionist, we eat real food (no shakes), along with what we feel are the best natural nutrition supplements on the market. You may lose up to 15% of your body weight in just one (30 day) round and the program can be repeated if you have more weight to lose. 
			</p>
			<p>
				If your goal is simply gut health supporting improved health overall, we adjust the modified calorie diet plan to accommodate this.
			</p>
			<div id="step-1" class="step">
				<div class="step-number-left">
					<div id="number-1" class="number-circle">1</div>
					<div id="step-content">
						<h4 class="step-title">The First 3 Days</h4>
						<p>
							This is where you get off the blood sugar roller coaster and begin to get your appetite under control, you gut begins to function more efficiently. During these three days, you will begin your natural supplement support, this is high quality "clean green and natural nutritional" supplements. With the right nutrition and supplement support you quickly become a fat burning body rather than a fat storage body. Typically, after the second day you will also begin to overcome food cravings.
						</p>
					</div>
				</div>
			</div>
			<div id="step-2" class="step">
				<div class="step-number-right">
					<div id="step-content">
						<h4 class="step-title">Fat Loss and Detox</h4>
						<p>
							This is the weight loss stage as your body will start to release fat, reduce food cravings and stabilise. With food cravings gone and fat burning increased along with good nutrition you will likely feel greater mental clarity and enjoy the increased energy. This stage is vital to help improve digestion, support your gut to heal along with reducing inflammation in the body. This step will help lift a low metabolism, may improve the function of phase 1 & 2 of the liver and supports and improves bowel function.
						</p>
						<p>
							On this stage, you eat a simple and light modified calorie intake, we mono eat, i.e. one protein and one vegetable at each meal. We know that the bigger range of foods you put on your plate, the harder your gut must work; therefore, we keep it simple to help the gut to rest and restore.
						</p>
						<P>
							Therefore, the nutritional supplements are important, they help to support your gut to do its job well. This step typically lasts 27 days. However, there is the option to extend this phase. 
						</p>
					</div>
					<div id="number-2" class="number-circle">2</div>
				</div>
			</div>
			<div id="step-3" class="step">
				<div class="step-number-left">
					<div id="number-3" class="number-circle">3</div>
					<div id="step-content">
						<h4 class="step-title">Life</h4>
						<p>
							This step is all about teaching/supporting you to sustain a healthy realistic lifestyle. It is designed to keep you at your new healthy weight by continuing to support your gut to work efficiently and helping to keep your hormones in balance. You eat a more varied and higher calorie diet. You start to notice how changes in your diet make you feel.
						</p>
					</div>
				</div>
			</div>
			<p>
				All 3 stages are important for successful weight loss, and if you want to lose more weight you simply go back to step 1 and repeat!
			</p>
			<h4>General Tips To Get You Started</h4>
			<p>
				<strong>Water</strong>: One of the key factors along with many others that will determine your success on this program is consuming adequate levels of water. It is imperative that you sip 3 litres  of water daily to not only assist with the detoxification process but to assist with suppressing your appetite, and the chemical breakdown of fat stores. Herbal Teas (not fruit teas) are acceptable.
			</p>
			<p>
				<strong>Digestion</strong>: It is important to consume your dinner 2 hours prior to going to bed to allow adequate time for digestion. This will ensure you don’t weigh in heavier in the morning.
			</p>
			<p>
				<strong>Exercise</strong>: If you are not one to exercise normally it is not recommended you start strenuous exercise when doing this modified calorie program. If you already have an exercise regime it is recommended you do not do any more than normal. Please do discuss individually with your mentor.
			</p>
		</section>

		<section id="testimonial-2" class="testimonial">
			<div class="testimonial-content">
				<img src="images/placeholder-pic-1.jpg">
				<div class="quote">
					<blockquote>
						<br>
						“I joined up to the PH@TT programme in April with some trepidation. I had tried every diet in the book and lost with some but eventually put it all back on. The support I got from Steph was fabulous! No judgement, just support when I needed it. By October, I had lost 26kg!! I felt fantastic and loved all the comments I received. 3 of my work colleagues have also done/are following the plan with great success too. PH@TT is the best thing I have ever done for myself, the support is awesome and I haven't looked back.
						<br>
						Thanks Steph!
					</blockquote>
					<p>- Janine</p>
				</div>
			</div>
		</section>
		
		<a name="about-me"></a>
		<section id="block-3" class="content">
			<h2>About Me</h2>
			<div id="about-wrapper">
				<img src="images/steph.jpg">
				<div id="about-content">
					<p>
						Hi, I’m Steph.
					</p>
					<p>
						I am a Registered Nurse of 30 years and now also a Senior consultant with Putting Health at The Top, (PH@TT).
					</p>
					<p>
						I have completed the PH@TT program myself and maintain my 16kg weight loss now comfortably. I believe caring for our gut is a significant key to caring for our health both physically and mentally. I would love to work with you to support you to make the healthy changes you would like to see in your life.
					</p>
					<p>
						After many years working in varied areas of general health I spent 9 years working in the addiction sector. I have been supporting people to make healthy and sustainable changes for most of my working life.
					</p>
					<p>
						I continue to work as a nurse in the field of mental health and addiction providing 1 on 1 support and in group settings. I bring skills from these roles and utilise motivational interviewing techniques and CBT (cognitive behavioural therapy) strategies to support us to begin to change the way we think and react to food and life stressors. I incorporate simple mindfulness and sensory modulation modules of practice to support change.
					</p>
					<p>
						I look forward to joining you on your journey to better health,
					</p>
					<p id="signature">
						Steph xox
					</p>
				</div>
			</div>
		</section>

		<section id="testimonial-3" class="testimonial">
			<div class="testimonial-content">
				<img src="images/placeholder-pic-1.jpg">
				<div class="quote">
					<blockquote>
						<br>
						I couldn’t believe how successful this program was for me! Steph was a fantastic mentor and completely tailored the program for what I needed. Three months later I’ve maintained my success and am happy and healthy thanks to Steph.
						<br>
					</blockquote>
					<p>- Hayley</p>
				</div>
			</div>
		</section>

		<a name="contact"></a>
		<section id="contact" class="content">
			<h2>Contact Me</h2>
			<p id="contact-message">
				If you are ready to begin your journey to better health and/or want to know some more information, send me a message below.
			</p>
			<form id="contact-form">
                <div class="form-element">
                    <label for="name">Your Name</label>
                    <input name="name" id="name" required>
                </div>

                <div class="form-element">
                    <label for="email">Your Email</label>
                    <input type="email" name="email" id="email" placeholder="example@email.com" required>
                </div class="form-element">

                <div class="form-element">
                    <label for="message">Your Message</label>
                    <textarea name="message" id="message" required></textarea>
                </div>

                <div id="message-submit-button" class="form-element">
                    <input type="button" onclick="sendEmail()" value="Send" class="submit-button">
                </div>
            </form>

            <div id="overlay">
            	<p>Message sent!</p>
            </div>

		</section>
		
		<footer>
			<div id="main-footer-content">
				<a target="_blank" href="https://www.facebook.com/healthylivingwithsteph/"><img alt="Facebook logo." src="images/find-us-on-facebook.png"></a>
				<p>&#9400; Healthy Living with Steph 2019</p>
			</div>
			<div id="website-attribution">
				<p>This website was created by <a href="https://hayleyavw.com">Hayley van Waas</a>.</p>
			</div>
		</footer>

		<script src="js/script.js"></script>
	</body>

</html>
