<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Healthy Living With Steph</title>
		<meta name="description" content="Placeholder Content">
		<meta name="author" content="Hayley van Waas">
		<!-- style -->
		<link rel="stylesheet" href="css/base.css">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Caveat|Roboto" rel="stylesheet">
	</head>

	<body>
		<nav>
			<a href="#">Putting Health At The Top</a>
			<a href="#">How It Works</a>
			<a href="#">About Me</a>
			<a href="#">Contact</a>
		</nav>

		<section id="hero">
			<img alt="" src="images/hero-placeholder.png">
			<h1>Healthy Living with Steph</h1>
		</section>

		<section id="block-1" class="content">
			<h2>Putting Health At The Top</h2>
			<p>
				Hi, I’m Steph from PH@TT (Putting Health At The Top), and I am here to support you through a 30 day program designed to improve your gut health and encourage weight loss.
			</p>
			<div id="three-photos">
				<div class="image-div">
					<img src="images/placeholder-pic-1.jpg">
					<h3>Weight Loss</h3>
				</div>
				<div class="image-div">
					<img src="images/placeholder-pic-2.jpg">
					<h3>Sustainable Healthy Lifestyle</h3>
				</div>
				<div class="image-div">
					<img src="images/placeholder-pic-3.jpg">
					<h3>Improved Gut Health</h3>
				</div>
			</div>
			<p>
				Here at PH@TT we believe that through a healthy diet, with a focus on caring for your gut, you can achieve your health goals of weight loss (up to 15% of your body weight in just one round) and/or a healthy gut whilst still maintaining an overall sense of well-being. Improved gut health and diet is key to healthy weight, mood, sleep, energy and more. So much so that our program does not even encourage strenuous exercise in order for you to reach your goals.
			</p>
			<p>
				I am passionate about health and can help you to achieve your health and fitness goals through ongoing mentorship in the form of support and education, and this is what sets us apart from other weight loss programs. As a mentor I am invested in your health and will work hard alongside you to improve it. If you have any inquires about this program, please feel free to get in contact with me. Whether you just have a couple of questions or feel ready to get started, I’d be happy to hear from you.
			</p>
		</section>

		<section id="testimonial-1" class="testimonial">
			<div class="testimonial-content">
				<img src="images/testimonial-1.jpg">
				<div class="quote">
					<blockquote>
						<br>
						I couldn’t believe how successful this program was for me! Steph was a fantastic mentor and completely tailored the program for what I needed. Three months later I’ve maintained my success and am happy and healthy thanks to Steph.
						<br>
					</blockquote>
					<p>- Hayley from <a href="https://www.hayleyshealthfoods.com">Hayley's Health Foods</a></p>
				</div>
			</div>
		</section>

		<section id="block-2" class="content">
			<h2>How It Works</h2>
			<p>
				The PH@TT program has been specially designed to balance your body’s natural functions therefore encouraging it to lose weight as it needs to. We do this through resting and repairing the gut with our meal plans designed by our nutritionist, along with what feel are the best natural nutrition supplements on the market. Results obviously vary between individuals, however you may lose up to 15% of your body weight in just one (30 day) round and the program can be repeated if you have more weight to lose. 
			</p>
			<div id="step-1" class="step">
				<div class="step-number-left">
					<div id="number-1" class="number-circle">1</div>
					<div id="step-content">
						<h4 class="step-title">The First 3 Days</h4>
						<p>
							This is where you get off the blood sugar roller coaster and get your appetite under control and you start to burn and release fat.  During these three days, you will begin your natural nutritional supplement support, this is high quality "clean green and natural nutritional" supplements. With the right nutrition and supplement support you quickly become a fat burning body rather than a fat storage body. Typically, after the second day you will begin to overcome food cravings and your body will start to release fat.
						</p>
					</div>
				</div>
			</div>
			<div id="step-2" class="step">
				<div class="step-number-right">
					<div id="step-content">
						<h4 class="step-title">Fat Loss and Detox</h4>
						<p>
							This is the weight loss stage as your body will start to release fat, reduce food cravings and stabilise. With food cravings gone and fat burning increased, you will feel greater mental clarity and enjoy the increased energy. This stage is vital to help improve digestion, heal your gut and reduce inflammation in the body. This step lifts a low metabolism, may improve the function of phase 1 & 2 of the liver and supports and improves bowel function.
						</p>
						<p>
							On this stage you calorie count and mono eat, i.e. one protein and one vegetable at each meal. The bigger range of foods you put on your plate, the harder your gut has to work, therefore we cut back to help it heal instead. This is why the nutritional supplements are so important, they need to support your This step typically lasts 27 days. However, there is the option to extend this phase to 37 days for increased weight loss.
						</p>
					</div>
					<div id="number-2" class="number-circle">2</div>
				</div>
			</div>
			<div id="step-3" class="step">
				<div class="step-number-left">
					<div id="number-3" class="number-circle">3</div>
					<div id="step-content">
						<h4 class="step-title">Life</h4>
						<p>
							This step is all about teaching you how to sustain a healthy lifestyle going forward. It is designed to keep you at your new healthy weight by keeping your hormones in balance. You no longer have to mono eat or calorie count, and you may even choose to stop taking supplements if you no longer feel you need them.
						</p>
					</div>
				</div>
			</div>
			<p>
				All 3 stages are important for successful weight loss, and if you want to lose more weight you simply go back to step 1 and repeat!
			</p>
		</section>

		<section id="testimonial-2" class="testimonial">
			<div class="testimonial-content">
				<img src="images/placeholder-pic-1.jpg">
				<div class="quote">
					<blockquote>
						<br>
						“I joined up to the PH@TT programme in April with some trepidation. I had tried every diet in the book and lost with some but eventually put it all back on. The support I got from Steph was fabulous! No judgement, just support when I needed it. By October, I had lost 26kg!! I felt fantastic and loved all the comments I received. 3 of my work colleagues have also done/are following the plan with great success too. PH@TT is the best thing I have ever done for myself, the support is awesome and I haven't looked back.
						<br>
						Thanks Steph!
					</blockquote>
					<p>- Janine</p>
				</div>
			</div>
		</section>

		<section id="block-3" class="content">
			<h2>Who am I?</h2>
			<div id="about-wrapper">
				<img src="images/steph.jpg">
				<div id="about-content">
					<p>
						Hi, I’m Steph.
					</p>
					<p>
						I am a Registered Nurse of 30 years and now also a Senior consultant with Putting Health at The Top, (PH@TT).
					</p>
					<p>
						I have completed the PH@TT program myself and maintain my 16kg weight loss now comfortably. I believe caring for our gut is a significant key to caring for our health both physically and mentally. I would love to work with you to support you to make the healthy changes you would like to see in your life.
					</p>
					<p>
						After many years working in varied areas of general health I spent 9 years working in the addiction sector and I have been supporting people to make healthy and sustainable changes for many years. I continue currently to also work in the field of mental health providing 1 on 1 support and in group settings. I utilise motivational interviewing techniques and CBT (cognitive behavioural therapy) strategies to support us to begin to change the way we think and react to food and life stressors. I incorporate simple mindfulness and sensory modulation modules of practice to support change.
					</p>
					<p>
						I look forward to joining you on your journey to better health,
					</p>
					<p id="signature">
						Steph xox
					</p>
				</div>
			</div>
		</section>

		<section id="testimonial-3" class="testimonial">
			<div class="testimonial-content">
				<img src="images/placeholder-pic-1.jpg">
				<div class="quote">
					<blockquote>
						<br>
						I couldn’t believe how successful this program was for me! Steph was a fantastic mentor and completely tailored the program for what I needed. Three months later I’ve maintained my success and am happy and healthy thanks to Steph.
						<br>
					</blockquote>
					<p>- Hayley</p>
				</div>
			</div>
		</section>

		<section id="contact" class="content">
			<h2>Contact Me</h2>
			<p id="contact-message">
				If you are ready to begin your journey to better health and/or want to know some more information, send me a message below.
			</p>
			<form id="contact-form">
                <div class="form-element">
                    <label for="name">Your Name</label>
                    <input name="name" id="name" required>
                </div>

                <div class="form-element">
                    <label for="email">Your Email</label>
                    <input type="email" name="email" id="email" placeholder="example@email.com" required>
                </div class="form-element">

                <div class="form-element">
                    <label for="message">Your Message</label>
                    <textarea name="message" id="message" required></textarea>
                </div>

                <div id="message-submit-button" class="form-element">
                    <input type="button" onclick="sendEmail()" value="Send" class="submit-button">
                </div>
            </form>
		</section>
		
		<footer>
			<h2>Placeholder</h2>
		</footer>

		<script src="js/script.js"></script>
	</body>

</html>
