$pink: #ead1dc;

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #292828;
	p {
		text-align: justify;
	}
}

nav {
	height: 5vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	a {
		font-size: 2rem;
		color: #000;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
}

footer {
	height: 10vh;
	background-color: #C3C6CC;
}

h1, h2, h3, h4, a, .number-circle {
	font-family: 'Amatic SC', cursive;
}

h1 {
	font-size: 8rem;
}

h2 {
	font-size: 3rem;
	margin: 20px;
}

h3 {
	font-size: 2rem;
}

#hero {
	height: 80vh;
	position: relative;
	text-align: center;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	h1 {
		color: #FFF;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -60%);
	}
}

.content, .testimonial-content {
	width: 90vw;
}

.content {
	background-color: #FFF;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
	h2 {
		text-align: center;
	}
}

#block-1 {
	#three-photos {
		display: flex;
		justify-content: space-around;
		.image-div {
			display: inline-block;
			img {
				width: 300px;
				border-radius: 50%;
			}
		}
	}
}

.testimonial {
	background-color: #D0DDE3;
	padding: 20px;
	.testimonial-content {
		height: 100%;
		display: flex;
		margin: 0 5vw;
		img {
			height: 85%;
			max-height: 150px;
			border-radius: 50%;
			margin: auto;
		}
		.quote {
			p {
				text-align: center !important;
			}
		}
		blockquote {
			text-align: center !important;
			margin: auto 20px;
			font-family: 'Caveat', cursive;
			font-size: 1.5rem;
		  	quotes: "“" "”" "‘" "’";
		  	display: flex;
		  	justify-content: space-between;
		}
		blockquote:before {
			font-size: 4rem;
		    content: open-quote;
		    margin-right: 20px;
		}
		blockquote:after {
			font-size: 4rem;
		    content: close-quote;
		}
	}
	a {
		color: #FFF;
		font-family: 'Roboto', sans-serif;
	}
}

#testimonial-2 {
	img {
		order: 2;
	}
	.quote {
		order: 1;
	}
}

#block-2 {
	.step {
		margin: 40px 0;
		.number-circle {
			border-radius: 50%;
			width: 210px;
			height: 70px;
			padding: 20px;
			background: #fff;
			color: #666;
			text-align: center;
			font-size: 3rem;
			font-weight: bold;
		}
		#number-1 {
			background-color: $pink;
		}
		#number-2 {
			background-color: #ffe599;
			margin: auto;
			margin-left: 40px !important;
		}
		#number-3 {
			background-color: #9fc5e8;
		}
		#number-1, #number-3 {
			margin: auto;
			margin-right: 40px !important;
		}
		.step-number-left, .step-number-right {
			display: flex;
			h4 {
				font-size: 1.4rem;
				margin: 0px;
			}
		}
		.step-number-left {
			h4 {
				text-align: left;
			}
		}
		.step-number-right {
			h4 {
				text-align: right;
			}
		}
	}
}

#block-3 {
	#about-wrapper {
		display: flex;
		img {
			height: 300px;
			margin-right: 20px;
			margin-bottom: 10px;
			border-radius: 9px;
		}
		#about-content {
			p:first-child {
				margin-top: 0px;
			}
			p#signature {
				font-family: 'Caveat', cursive;
				font-size: 1.3rem;
			}
		}
	}
}

#contact {
	p#contact-message {
		margin: 10px;
		text-align: center;
	}
	#contact-form {
		width: 100%;
	    top: 0;
	    left: 0;
	    padding: 0;
	    transition: opacity .5s;
		margin: 20px auto;
		.form-element {
			display: flex;
			justify-content: center;
			margin: 20px;
			label {
				text-align: right;
				margin-right: 15px;
				width: 100px;
				padding-top: 5px;
			}
			input {
				height: 20px;
				font-size: 1.1rem;
			}
			input.submit-button {
				height: 30px;
				font-size: 1rem;
			}
			input, textarea {
				padding: 5px;
				width: 471px;
				margin: 0px 0px 10px 0px;
				border: 2px solid #ccc;
				border-radius: 2px;

				transition: 0.25s linear; /* vendorless fallback */
			    -o-transition: 0.25s linear; /* opera */
			    -ms-transition: 0.25s linear; /* IE 10 */
			    -moz-transition: 0.25s linear; /* Firefox */
			    -webkit-transition: 0.25s linear; /*safari and chrome */
			}
			textarea {
				height: 90px;
			}
			textarea:focus, input:focus {
				border: 2px solid $pink;
			}
			input.submit-button {
				width: 100px;
				margin: auto;
				background-color: #FFF;
			}
			input.submit-button:hover {
				background: $pink;
				color: #FFF;
				box-shadow: inset 0 0 0 3px $pink;
				border-color: $pink;
			}
		}
	}
}
